In [1]:
from model.types import MarketDemandSupply
from model.run import load_config, run

state = {"treasury": 100,
         "market_demand_supply": MarketDemandSupply(total_supply = 50,
                                                   total_demand = 50),
        "net_flow": None}
params = {"demand_factor": [10],
         "supply_factor": [10],
         "reward_rate_policy": ["Flat"]}

nrun = 5
exp = load_config(nrun, params, state, 10)
run(exp)

                  ___________    ____
  ________ __ ___/ / ____/   |  / __ \
 / ___/ __` / __  / /   / /| | / / / /
/ /__/ /_/ / /_/ / /___/ ___ |/ /_/ /
\___/\__,_/\__,_/\____/_/  |_/_____/
by cadCAD

cadCAD Version: 0.4.28
Execution Mode: local_proc
Simulation Dimensions:
Entire Simulation: (Models, Unique Timesteps, Params, Total Runs, Sub-States) = (1, 10, 3, 5, 3)
     Simulation 0: (Timesteps, Params, Runs, Sub-States) = (10, 3, 5, 3)
Execution Method: local_simulations
Execution Mode: parallelized
Total execution time: 0.45s

,treasury,market_demand_supply,net_flow,simulation,subset,run,substep,timestep,reward_rate
0,100,"MarketDemandSupply(total_supply=50, total_dema...",NaN,0,0,1,0,0,NaN
1,100,"MarketDemandSupply(total_supply=50, total_dema...",NaN,0,0,1,1,1,0.000198
2,100,MarketDemandSupply(total_supply=28.62238724960...,5000.000000,0,0,1,2,1,0.000198
3,100,MarketDemandSupply(total_supply=28.62238724960...,5000.000000,0,0,1,1,2,0.000198
4,100,MarketDemandSupply(total_supply=22.27202795782...,1647.300558,0,0,1,2,2,0.000198
...,...,...,...,...,...,...,...,...,...
100,100,MarketDemandSupply(total_supply=21.93014165207...,2301.535784,0,0,5,2,8,0.000198
101,100,MarketDemandSupply(total_supply=21.93014165207...,2301.535784,0,0,5,1,9,0.000198
102,100,MarketDemandSupply(total_supply=19.73497791931...,1749.088378,0,0,5,2,9,0.000198
103,100,MarketDemandSupply(total_supply=19.73497791931...,1749.088378,0,0,5,1,10,0.000198
104,100,MarketDemandSupply(total_supply=20.22823251127...,2244.166852,0,0,5,2,10,0.000198